<%= form_with(model: @playfair, url: decode_playfair_index_path, local: true, data: { turbo: false }) do |f| %>
                <div class="row form-group">
                    <%= f.label :to_decode, "Text to decode", class:"col-2 col-form-label form-label-text fw-bold" %>
                    <div class="col-10">
                        <%= f.text_area :to_decode, rows:10, class:"form-control shadow", placeholder:"Text to decode" %>
                    </div>
                </div>

                <div class="row form-group">
                    <%= f.label :key, "Decryption Key", class:"col-2 col-form-label form-label-text fw-bold" %><br>
                    <div class="col-10 mb-4">
                        <%= f.text_field :key, class:"form-control mt-3 shadow",placeholder:"Enter your decryption key" %>
                    </div>                    
                </div>
        <%= f.submit "Decode", class: "btn btn-outline-success" %>
<% end %>