<!DOCTYPE html>
<html>
  <head>
    <title>CipherCraft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstraply', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'layouts/navigation' %>
  
  <main class="container mx-auto mt-28 px-5 flex">
  <div class="mb-5">
     <%= render 'layouts/breadcrumbs' %>
  </div>
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible" role="alert" id="flash-notice">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

      <% if alert.present? %>
      <div class="alert alert-warning alert-dismissible" role="alert" id="flash-alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </main>


</body>

</html>
